.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #f2f2f2;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    display: flex;
    padding: 70px 30px;
    margin: 0px auto;
    background-image: url("http://www.newhdwallpapers.in/wp-content/uploads/2014/11/Tasty-Food-Dessert-Strawberries-Sweet-Waffle-HD.jpg");

}
address{
  font-size: 80%;
  margin: 0px;
  color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.nav.navbar-form.navbar-right {
  color: #d3d3d3;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.affix{
  top: 100px;
}

.carousel {
    background:#1A237E;
}
.carousel .item {
  height: 300px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}
